$mobile: 639px;

// padding
$--padding--container-base: 48px;

html,
body,
ul,
ol {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style-type: none;
}

@mixin mobile {
  @media (max-width: $mobile) {
    @content;
  }
}

// Layout
.app_layout {
  min-height: 100vh;
}

// Navbar
.navbar {
  height: 60px;
  width: 100%;
}

.navbar__container--inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__contents {
}

.navbar__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navber__item {
  padding: 0 8px;
  color: #4e5968;
  white-space: nowrap;
}

// Container
.container {
  height: 100%;
  width: 100%;
  margin: auto;
}

.container--default {
  max-width: 1040px;
  margin: 0 auto;
}

.container--inner {
  height: 100%;
  margin: 0 auto;
}

.container--default > .container--inner {
  width: 92%;
  max-width: calc(100% - $--padding--container-base);
}

@include mobile {
}
