$mobile: 639px;
$tablet: 1023px;
$desktop: 1024px;

html,
body {
  margin: 0;
  padding: 0;
}

@mixin mobile {
  @media (max-width: $mobile) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: ($mobile + 1)) and (max-width: $tablet) {
    @content;
  }
}

.header.nav {
  height: 60px;
}

.header.nav > .inner_container {
  padding: 0 30px;
  height: inherit;
  display: flex;
  align-items: center;
}

@include mobile {
}

@include tablet {
}
