$mobile: 639px;

// padding
$--padding--container-base: 48px;

// z-index
$--z-index--navbar: 100;

// color
$--white: #ffffff;

html,
body,
ul,
ol,
h1,
h2,
h3,
h4,
span,
p,
div {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  font-family: 'Inter', 'Noto Sans KR', 'Malgun Gothic', '맑은 고딕', sans-serif;
}

ol,
ul {
  list-style-type: none;
}

a {
  color: black;
  text-decoration: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
p,
div {
  word-break: keep-all;
  white-space: pre-wrap;
}

*,
:after,
:before {
  box-sizing: border-box;
}

@mixin mobile {
  @media (max-width: $mobile) {
    @content;
  }
}

// Layout
.app_layout {
  min-height: 100vh;
}

// Navbar
.navbar {
  height: 60px;
  width: 100%;
  position: fixed;
  left: 0px;
  z-index: $--z-index--navbar;
  background-color: $--white;
}

.navbar__container--inner {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.navbar__logo {
  height: inherit;
  display: flex;
  align-items: center;
}

.navbar__contents {
  height: 100%;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: inherit;
}

.navbar__item {
  padding: 0 8px;
  white-space: nowrap;
  height: inherit;
  display: flex;
  align-items: center;
}

.navbar__item > a {
  padding: 12px 10px;
  font-size: 15px;
  line-height: 20px;
  color: currentColor;
  border-radius: 8px;
  border: 0;
  cursor: pointer;
  background-color: transparent;
  text-decoration: none;
  text-align: left;

  &:hover {
    background-color: rgba(2, 32, 71, 0.05);
  }
}

// Container
.container {
  height: 100%;
  width: 100%;
  margin: auto;
}

.container--default {
  max-width: 1040px;
  margin: 0 auto;
}

.container--inner {
  height: 100%;
  margin: 0 auto;
}

.container--default > .container--inner {
  width: 92%;
  max-width: calc(100% - $--padding--container-base);
}

.p-button {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-size: 15px;
  font-size: var(--btn-font-size);
  font-weight: 600;
  line-height: 18px;
  line-height: var(--btn-line-height);
  color: #4e5968;
  color: var(--btn-color-base);
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-color: #f2f4f6;
  background-color: var(--btn-bg-base);
  background-image: none;
  border: 0 solid transparent;
  user-select: none;
  // transition: background 0.2s ease, color 0.1s ease;
  text-decoration: none;
  border-radius: 7px;
  border-radius: var(--btn-border-radius);
}

@include mobile {
  .navbar__container--inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
